.choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: rgb(51, 51, 51);
  padding: 15px 10px 5px 5px;
  width: 95%;
  border-radius: 15px;
  cursor: pointer;
}
.choice:hover {
  background-color: rgb(223, 226, 226);
}
.choice-svg {
  height: 25px;
  min-width: 15%;
}
.image-container {
  padding: 10px;
}
.image {
  width: 25px;
}
.data-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.name {
  font-size: 20px;
}
.description {
  font-size: 50%;
  color: #777;
  font-weight: 600;
}
