.leftSideBar{
    border-right: 1px solid var(--twitterBorder);
    padding-right: 40px;
}


@media (max-width : 1300px) {
    .leftSideBar{
        flex: inherit;
    }
}

.twitterIcon{
    color: var(--twitterBlue);
    font-size: 40px !important;
    margin: 10px 0 0 14px;
    padding: 5px;
    cursor: pointer;
}

.twitterIcon:hover{
    background-color: var(--twitterHoverBlue);
    border-radius: 50%;
}
