.miniProfile{
    position: absolute;
    width: 300px;
    height: fit-content;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 16px;
    background-color: white;
    cursor: default;
}

.flexContainer{ 
    display: flex;
}
.flex{ 
    display: flex;
}

.miniButton{
    /* margin-left: auto!important; */
    background-color: black!important;
    color: white!important;
    height: 36px!important;
    font-weight: 600 !important;
    border-radius: 25px !important;
    /* text-transform: inherit !important; */
    padding: 5px 15px 5px 15px !important;
    /* margin: auto !important; */
    /* transform-duration: 0s !important; */
    
}

.miniButton:hover{
    background-color: #272C30 !important;
}

.miniImg{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.miniImg:hover{
    opacity: 0.6;
}

.userNames > *{
    margin: 0;
    font-size: 15px;
}

.name{
    font-weight: bold;
}

.name:hover{
    text-decoration: underline;
}

.userName{
    color: gray;
}

.bold{
    font-weight: 500;
}

.pointer{
    cursor: pointer;
  }
  
  .normalText{
      font-size: 15px;
  }
  
  .gray{
    color: gray;
  }

  .underline:hover{
      text-decoration: underline;
  }
  .followButton {
    margin-left: 5.1em;
    size: 15em;
    font-size: 0.8em;
    height: 1em !important;
  }
