.searchBar{
    position: sticky;
    margin-top: 10px;
}

.searchForm{
    display: flex;
}

.searchIcon{
    position: absolute;
    margin-left: 35px;
    margin-top: 9px;
}

.searchInput{
    background-color: var(--tweetHover);
    border: none;
    border-radius: 40px;
    height: 44px;
    width: 350px;
    padding-left: 50px;
}

.searchInput:focus{
    outline-color: var(--twitterBlue);
    outline-width: 1px;
    background-color: white;
}

.searchInput:focus + .searchIcon{
    color: var(--twitterBlue);
}

