@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

.appleSignUp {
  font-family: "Mukta", sans-serif;
  font-size: 75%;
  font-weight: 700;
  color: black;
  text-align: center;

  /* margin-left: 5.5%; */
  margin-top: 2%;
  padding: 0px;
  height: 40px;
  width: 298px;

  background-color: white;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appleSignUp:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.appleSignUp:active {
  background-color: rgb(204, 204, 204);
}

.logo {
  padding-top: 9px;
  padding-right: 3px;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .appleSignUp {
    margin-top: 4%;
  }
}
