.buttonSignUp {
  margin-left: 5.5%;
  margin-top: 1%;
  margin-left: 0%;
  padding: 0px;
  height: 40px;
  width: 298px;

  background-color: var(--twitterBlue);
  border: 1px solid var(--twitterBlue);
  /* border: 1px solid rgb(29, 155, 240); */
  border-radius: 20px;
}

.buttonSignUp:hover {
  background-color: rgb(26, 140, 216);
  border-color: rgb(26, 140, 216);
  cursor: pointer;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60%;
  color: white;
  text-align: center;

  margin-top: 9px;
  font-weight: 700;
}

.navLink {
  text-decoration: none;
}


