* {
  box-sizing: border-box;
}

.buttonNext {
  margin-left: 5.5%;
  margin-top: 25px;
  padding: 0px;
  height: 40px;
  width: 298px;

  text-decoration: none;

  color: white;
  background-color: rgb(15, 20, 25);
  border: 1px solid black;
  border-radius: 20px;
}

.buttonNext:hover {
  background-color: rgb(39, 44, 48);
  border-color: rgb(39, 44, 48);
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
}

.buttonNext:active {
  background-color: rgb(63, 67, 71);
  border-color: rgb(63, 67, 71);
  cursor: pointer;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60%;
  text-align: center;

  margin-top: 12px;
  font-weight: 700;
}
