.coverEditor {
    position: absolute;
    left: 45%;
    top: 15%;
    border-radius: 50%;
    border-width: 2px;
    color: white;
    background-color: #535151;
    cursor: pointer;
    font-size: 30px !important;
    z-index: 1000;
  }
  .profileEditor{
    position: absolute;
    left: 11%;
    top: 6.5em;
    border-radius: 50%;
    border-width: 2px;
    color: white;
    background-color: #535151;
    cursor: pointer;
    font-size: 30px !important;
    z-index: 1000;
  }

  @media screen and (max-width: 705px) {

    .coverEditor{
      top:14.5vw !important;
      position: absolute;
    }
    .profileEditor{
      top: 34.5vw;
      left: 12vw;
    }
  }