.messageButton{
    border-radius: 50% ;
    width: 40px;
    height: 40px;
    border-style: solid ;
    border-width: 1px;
    border-color: rgb(217, 224, 236);
    background-color: transparent;
    padding: 6px;
    margin-left: 12px;
}
.messageButton1{
  border-radius: 50% ;
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 6px;
  margin-left: 12px;
}
.settingButton{
    border-radius: 50% ;
    width: 40px;
    height: 40px;
    border-style: solid ;
    border-width: 1px;
    border-color: rgb(217, 224, 236);
    background-color: transparent;
    padding-left: 6px;
}

.followButtonDiv{
  margin-left: 0.8em !important;
}

.settingButton:hover {
    border-radius: 200px;
    border-color: rgb(209, 213, 219);
    background-color: rgb(209, 213, 219);
  }

.messageButton:hover {
    border-radius: 200px;
    border-color: rgb(209, 213, 219);
    background-color: rgb(209, 213, 219);
  }