
.onPage{
    font-weight: 700 !important;
}
.navLink{
    text-decoration: none !important;
    color: inherit !important;
}

.leftButton{
    display: flex;
    align-items: center;
    cursor: pointer;
    width:max-content;
    font-size: 20px;
    padding: 12px;
    margin: 6px;
    font-weight: 350;
}

.title{
    margin: 0;;
    margin-left: 20px;
}

@media (max-width : 1300px) {
    .leftButton > p{
        display: none;
    }
}

.leftButton > .MuiSvgIcon-root {
    margin: 17px;
}

.leftButton:hover{
    background-color: var(--twitterGrayHighligh);
    border-radius: 50px;
}

