.leftSideBar{
    border-right: 1px solid var(--twitterBorder);
    padding-right: 40px;
}


@media (max-width : 1300px) {
    .leftSideBar{
        flex: inherit;
    }
}

.twitterIcon{
    color: var(--twitterBlue);
    font-size: 40px !important;
    margin: 10px 0 0 14px;
    padding: 5px;
    width: fit-content;
    cursor: pointer;
}

.twitterIcon:hover{
    background-color: var(--twitterHoverBlue);
    border-radius: 50%;
}



@media only screen and (max-width: 500px) {
    .leftSideBar{
        display: flex;
        position: fixed;
        bottom: 0;
        background-color: white;
        width: 100%;
        z-index: 1000;
    }

    .twitterIcon{
        display: none;
    }

    .phoneInvis{
        display: none !important;
    }

    .phoneVis{
        margin-right: auto;
        margin-left: auto;
    }

}