.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 3;
  }
  .body {
    position: fixed;
    width: 30rem;
    max-width: 90%;
    z-index: 4;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* centering the element */
    top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: auto;
  max-height: 90%;
  }
  
  .header {
    color: white;
    /* background-color: var(--twitterBlue); */
    padding: 1px 5px;
    padding: 0px;
    border-radius: 15px 15px 0 0;
  }
  .header-x {
    margin-top: 5px;
    padding: 0;
  opacity: 0.65;  height: 35px;
  padding: 10px;
    margin-left: 5%;
  cursor: pointer;

  }
  .header-x:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.311);
    border-radius: 999px;
  }
  .message {
    flex-grow: 2;
    padding: 10px 10px;
  }