.outerContainer {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  height: 290vh;
  width: 175%;
  position:relative;
}

.innerContainer {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: rgb(255, 255, 255);

  text-align: center;
  border-radius: 16px;
  /* margin: 2% 31%; */

  position: absolute;
  top: 7%;
  left: 20%;

  height: 700px;
  width: 850px;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .outerContainer {
    background-color: white;
  }

  .innerContainer {
    position: static;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
}
