.form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }
  .form-righter{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .formWidth{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .button{
border-radius:9999px ;
margin-top: 10px;
  }