.feedTweet {
  min-width: 100%;
  display: flex;
  border: 1px solid var(--twitterBorder);
  cursor: pointer;
  font-size: 15px;
  flex: auto;
  max-width: 598px;
}

.feedTweet:hover {
  background-color: var(--tweetHover);
}

.topTweet {
  display: flex;
  border: 1px solid var(--twitterBorder);
  font-size: 15px;
  
}

.profilePic {
  border-radius: 50%;
  height: 48px;
  min-width: 48px;
  max-width: 48px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  object-fit: cover;
}

.profilePic:hover {
  opacity: 0.6;
}

.hoverProfile {
  transition: 0s 180s;
}

.minip + .hoverProfile {
  position: relative;
  display: inline-block;
  visibility: hidden;
  transition-delay: 0.6s;
  transition-property: visibility;
  z-index: 2;
}

.minip:hover + .hoverProfile {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.hoverProfile {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.hoverProfile:hover {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.user > * {
  margin-bottom: 5px;
  margin-top: 12px;
}

.user {
  min-width: 100%;

  display: flex;
  align-items: center;
}

.tweet > * {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 20px;
}

.tweet {
  min-width: 100%;
  padding-right: 6px;
}

.attributes {
  display: flex;
}

.gray {
  color: gray;
}

.underline:hover {
  text-decoration: underline;
}

.hoverProfile {
  display: none;
}

.top {
  top: 65px;
  left: -55px;
}

.bot {
  top: 15px;
  left: -70px;
}

.tweetBoxText {
  outline: none;
  border-color: transparent;
}

.tweetImg {
  max-width: 504px;
  border-radius: 18px;
  margin-top: 14px;
}

.fs15 {
  font-size: 15px;
}

.noStyle {
  text-decoration: none !important;
  color: black !important;
  margin: 0 !important;
  padding: 0 !important;
  cursor: inherit;
}

.pointer {
  cursor: pointer;
}

.m10 {
  margin-top: 10px;

  border-bottom: 1px solid var(--twitterBorder);
}

.flex {
  display: flex;
}

.replyat {
  color: var(--twitterBlue);
}

.replyat:hover {
  text-decoration: underline;
}

.nom {
  margin-top: 8px;
  margin-bottom: 0;
}

.nomr {
  margin-top: 0;
  margin-bottom: 0;
}

.repmin {
  top: 22px;
  left: -100px;
}

.txt {
  max-width: 90%;
}

.alignTop {
  margin: 0;
  margin-top: 7px;
  align-items: baseline;
  margin-bottom: 0;
}

.verifiedIcon {
  color: var(--twitterBlue) !important;
  font-size: 15px !important;
  padding-bottom: 2px !important;
}

.absolute{
  position: absolute;
}

.moreIcon{
  margin-left: 47%;
}