.feed {
  flex: auto;
  margin-top: 0;
  border-right: 1px solid var(--twitterBorder);

  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge  to hide scrollbar*/
  scrollbar-width: none; /* Firefox to hide scrollbar*/
  max-width: 598px;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feedHeader {
  position: sticky;
  background-color: rgb(255, 255, 255, 0.97);
  top: 0;
  z-index: 2;
  margin-top: 0;
  padding: 10px;
}

.loadingIcon{
  margin-left: 50%;
  margin-top: 5%;
}