.tweetAtrribute{
    display: flex;
    color: gray;
    font-size: 12px;
    margin-left: 0;
    margin-right: auto;
    cursor: pointer;
}

.flex{
    display: flex;
    margin-top: 10px;
    margin-bottom: -5px;
}

.num{
    margin-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
}

.attIcon{
    padding: 3px;
    transition: 1s background-color;
    border-radius: 50%;
}

.b:hover .attIcon{
    background-color: var(--twitterHoverBlue);
    border-radius: 50%;
}

.g:hover .attIcon{
    background-color: var(--twitterHoverGreen);
    border-radius: 50%;
}

.r:hover .attIcon{
    background-color: var(--twitterHoverRed);
    border-radius: 50%;
}

.tweetAtrribute:hover.b{
    color: var(--twitterBlue);
}

.tweetAtrribute:hover.g{
    color: var(--twitterGreen);
}

.tweetAtrribute:hover.r{
    color: var(--twitterRed);
}

.clicked.g{
    color: var(--twitterGreen) !important;
}

.clicked.r{
    color: var(--twitterRed) !important;
}

.flex > *{
    user-select:none;
}


