.flex{
    display: flex;
    z-index: 100;
    width: 100%;
}

.photosPage{
    background-color: rgba(65, 65, 65, 0.7);
    height: 100vh;
    position: fixed;
    z-index: 1001;
}

.photo{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    
}

.image{
    height: 93vh;
    width:auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.tweetsAndReplies{
    height: 100vh;
    border-left: 1px solid var(--twitterBorder);
    background-color: white !important;
}

.arrow{
    position: absolute;
    cursor: pointer;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    border-radius: 50%;
    transition: 0.6s background-color;
}

.arrow:hover{
    background-color: gray;
}

.forward{
    position: absolute;
    top: 43vh;
}

.back{
    position: absolute;
    top: 43vh;
}

.attributes{
    position: relative;
    display: flex;
    width: 45%;
    margin-left: 32%;
    margin-right: auto;
}

.loadingIcon{
    position: absolute;
    left: 44%;
    top: 42%;

}

.left{
    left: 5px;
}

.doubleArrow{
    position: relative;
    color: white;
    border-radius: 50%;
    margin-top: 2px;
    padding: 0 5px 5px 5px;
    cursor: pointer;
}
.push{
    margin-left: 3px !important ;
}

.doubleArrow:hover{
    background-color: gray;
}

.none{
    display: none;
}

.rotate{
    transform: rotate(180deg);
}

.rightArrows{
    position: absolute;
    right: 355px;
}

.rightHidden{
    position: absolute;
    right: 0;
}

.leftArrows{
    position: absolute;
}

.icon{
    font-size: 28px !important;
}

@media only screen and (max-width: 950px) {
    .tweetsAndReplies{
      display: none;
    }
    .push{
        visibility: hidden;
    }
    /* .photosPage{
        width: 110%;
    } */
    .forward{
        right: 10%;
    }

    .rightArrows{
        position: absolute;
        right: 10px;
    }
  }
