::-webkit-scrollbar {
  display: none;
}

.notes {
  margin-top: 0;
  border-right: 1px solid var(--twitterBorder);

  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge  to hide scrollbar*/
  scrollbar-width: none; /* Firefox to hide scrollbar*/
  max-width: 598px;
}

@media screen and (min-width: 689px) {
  .notes {
    margin-top: 0;
    border-right: 1px solid var(--twitterBorder);

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-width: 625px;
  }
}

@media screen and (max-width: 689px) {
  .notes {
    margin-top: 0;
    border-right: 1px solid var(--twitterBorder);

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
  }
}

.loadingIcon {
  margin-left: 50%;
  margin-top: 5%;
}

.is_read {
  background-color: var(--twitterHoverBlue);
  border-bottom: 2px solid rgb(255, 255, 255);
}
