.notification {
  display: flex;
  align-items: center;
  border: 1px solid var(--twitterBorder);
  cursor: pointer;
  font-size: 14px;
}
.notification:hover {
  background-color: var(--tweetHover);
}
.profilePic {
  border-radius: 50%;
  height: 37px;
  width: 37px;
  margin-top: 0.3em;
  margin-left: 0.1em;
  object-fit: cover;
}

@media screen and (min-width: 280px) and (max-width: 721.6px) {
  .profilePic {
    margin-left: 1em;
  }
}

@media screen and (min-width: 360px) and (max-width: 721.6px) {
  .notedescription {
    margin-left: 3.4em !important;
  }
}

@media screen and (min-width: 280px) and (max-width: 280px) {
  .notedescription {
    margin-left: 2.5em !important;
  }
}

.profilePic:hover {
  opacity: 0.6;
}

.noteicon {
  font-size: 2.2em !important;
  margin-top: 0.17em;
  margin-left: 0.22em;
  /* transform: scale(1.7); */
}
.like {
  color: rgb(249, 24, 128);
}
.retweet {
  color: rgb(0, 186, 124);
}
.follow {
  color: var(--twitterBlue);
}

.ban {
  color: red;
}

.tweet {
  color: var(--twitterBlue);
}
.notedescription {
  font-size: 0.9em;
  margin-left: 4em;
}
.link {
  text-decoration: none !important;
  color: black !important;
  margin: 0 !important;
  padding: 0 !important;
  cursor: inherit;
}
.nameLink {
  text-decoration: none;
  color: black !important;
  margin: 0 !important;
  padding: 0 !important;
  cursor: inherit;
}
.nameLink:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
}

.hoverProfile {
  transition: 0s 180s;
}

.minip + .hoverProfile {
  position: relative;
  display: inline-block;
  visibility: hidden;
  transition-delay: 0.6s;
  transition-property: visibility;
  z-index: 2;
}

.minip:hover + .hoverProfile {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.hoverProfile {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.hoverProfile:hover {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.hoverProfile {
  display: none;
}

.top {
  top: 65px;
  left: -55px;
}

.fs15 {
  font-size: 15px;
}

.noStyle {
  text-decoration: none !important;
  color: black !important;
  margin: 0 !important;
  padding: 0 !important;
  cursor: inherit;
}

.pointer {
  cursor: pointer;
}

.underline:hover {
  text-decoration: underline;
}

.alignTop {
  margin: 0;
  margin-top: 7px;
  align-items: baseline;
  margin-bottom: 0;
}

.bot {
  top: 15px;
  left: -70px;
}

.is_read {
  background-color: var(--twitterHoverBlue);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.loadingIcon {
  margin-left: 50%;
  margin-top: 5%;
  padding-bottom: 5%;
}
