.notificationsHeader {
  position: sticky;
  background-color: rgb(255, 255, 255, 0.97);
  top: 0;
  z-index: 999;
  margin-top: 0;
  padding: 10px;
}

.notebutton {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: max-content;
  font-size: 18px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid var(--twitterBorder);
}

.notebutton:hover {
  background-color: var(--twitterGrayHighligh);
  color: var(--twitterBlue);
}
.selected {
  background-color: var(--twitterGrayHighligh);
  color: var(--twitterBlue);
}

.setIcon {
  font-size: 40px !important;
  margin: 10px 0 0 14px;
  padding: 5px;
  cursor: pointer;
  color: grey;
}
.setIcon:hover {
  background-color: var(--twitterHoverBlue);
  border-radius: 50%;
}
