.gender {
  margin-left: 5%;
}

.color {
  color: #3f51b5;
}

.filtersWrapper {
  display: flex;
  flex-wrap: wrap;
}

.filtersWrapper > div {
  margin: 3% 1%;
  margin-right: 2%;
}

.instructions {
  box-sizing: border-box;
  font-size: 200%;
  font-family: sans-serif;
  margin-bottom: 3%;
  color: rgba(0, 0, 0, 0.54);
}

.clearFiltersButton {
  width: 140px;
  margin-bottom: 5px;
}

.buttonsGroup {
  position: absolute;
  right: 3%;
  bottom: 2%;

  display: flex;
  /* border: 1px solid violet; */
  /* height: 50px; */
  /* width: 50%; */
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .instructions {
    font-size: 110%;
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .buttonsGroup {
    right: 0%;
    width: 100%;
    justify-content: center;
  }
}

@media only screen and (min-width: 0px) and (max-width: 380px) {
  .clearFiltersButton {
    width: 120px;
    /* margin-bottom: 3px; */
  }

  .buttonsGroup {
    flex-wrap: wrap;
    justify-content: center;
  }
}
