.tweetBoxForm {
  flex-grow: 2;
  background-color: white !important;
}


.tweetBoxFormContainer {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.tweetBoxText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: rgb(83, 100, 113);
  text-align: left;
  margin-left: 5.5%;
  padding: 2px;
  padding-left: 7px;
  width: 94.5%;
  background-color: white;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 4px;
  border: none;
  outline: none;
  resize: none;
}

.tweetBoxText:focus{
  border-bottom: 1px solid var(--tweetHover);
}

.tweetBoxTextSpanContainer {
  position: relative;
}
.tweetBoxTextSpan {
  right: 10px;
  bottom: 10px;
  font-size: 15px;
  display: block;
  margin-left: 5.5%;
  width: 94.5%;
  text-align: right;
  padding: 2px 10px;
}

.hidden{
  display: none;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.tweetButton {
  margin-left: auto !important;
  margin-right: 15px !important;
  margin-bottom: 10px !important;
  background-color: var(--twitterBlue) !important;
  color: white !important;
  font-weight: 600 !important;
  border-radius: 25px !important;
  text-transform: inherit !important;
  padding: 5px 15px 5px 15px !important;
  opacity: 0.8;
  border: 1px solid #ccc;
  cursor: pointer;
}

.tweetButton:hover {
  background-color: var(--twitterBlueHighlighted);
  opacity: 1;
}
.tweetButton:disabled {cursor: not-allowed;
  opacity: 0.8;
}
.profilePic {
  border-radius: 50%;
  height: 48px;
  min-width: 48px;
  max-width: 48px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  object-fit: cover;
}

.profilePic:hover {
  opacity: 0.6;
}

.hoverProfile {
  transition: 0s 180s;
}

.minip + .hoverProfile {
  position: relative;
  display: inline-block;
  visibility: hidden;
  transition-delay: 0.6s;
  transition-property: visibility;
  z-index: 2;
}

.minip:hover + .hoverProfile {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
.feedTweetBox  {
  border-bottom: 1px solid var(--twitterBorder);
  min-width: inherit;
  flex-grow: 3;
  max-width: 598px;

}

.boxInput {
  display: flex;
  margin-left: 20px;
}

.profileImg { 
  border-radius: 50%;
  height: 48px;
  width: 48px;
  object-fit: cover;
  cursor: pointer;
}

.profileImgOpacity :hover {
  opacity: 0.5;
}

.tweetBoxText {
  border: none;
  outline-style: none;
  font-size: large;
  min-height: 56px;
}
/* .tweetBoxText:nth-letter(odd)  {
  background-color: red;
  } */
.tweetBoxText:focus {
  border-bottom: 1px solid var(--twitterBorder);
}

.buttons {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

