.feedTweetBox {
  border-bottom: 1px solid var(--twitterBorder);
  min-width: inherit;
  flex-grow: 3;
}

.boxInput {
  display: flex;
  margin-left: 20px;
}

.profileImg { 
  border-radius: 50%;
  height: 50px;
  cursor: pointer;
}

.profileImgOpacity :hover {
  opacity: 0.5;
}

.tweetBoxText {
  border: none;
  outline-style: none;
  font-size: large;
  min-height: 56px;
}

.tweetBoxText:focus {
  border-bottom: 1px solid var(--twitterBorder);
}

.buttons {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

