.container{
    display: flex;
    flex-direction: row;
}
.container-photo{
max-height: 10rem;
}

.container-photo{
/* max-height: 10rem; */
max-width: 48%;
margin: 0.5%;
display: flex;
justify-content: center;
align-items: center;
position: relative;

/* background-color: rgb(208, 204, 204); */
}
.container-photo-gif{
    /* max-height: 10rem; */
    max-width: 90%;
    margin: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.5%;
    overflow: hidden;
    /* background-color: rgb(208, 204, 204); */
    }
.void{
position: relative;
}
.photo{
    max-height: 10rem;
    max-width: 100%;
    }
    .photo-gif{
        width: 100%;
    }
.svg-container{
    z-index: 2;
    background-color: grey;
    opacity: 0.5;
    top: 0;
    left: 0;
    border-radius:50% ;
    position: absolute;
    width: 1.5rem;
    height: 0;
    padding-bottom: 1.5rem;
}
.svg-container:hover{
    opacity: 1;
}
.svg{ 
    position: absolute;
   
    width: 100%;
    height: 100%;
}
.edit-container{
    z-index: 2;
    background-color: grey;
    opacity: 0.5;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 1.5rem;
    height: 0;
    padding-bottom: 1.5rem;
}
.edit-container:hover{
    opacity: 1;
}
.edit{ 
    position: absolute;
    
    width: 100%;
    height: 100%;
}
