.twitterBluelogo {
  margin: 3%;
  width: 30px;
  /* width: 5%; */
  margin-bottom: 4%;
  margin-left: -8%;
}

.closeIcon {
  color: rgb(15, 20, 25);
  padding: 3px;
  padding-left: 4px;

  display: flex;
  position: relative;
  width: 33px;
  height: 33px;
  border-radius: 9999px;
  margin: 3%;
  float: left;
}
.closeIcon:hover {
  background-color: rgb(15, 20, 25, 0.1);
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .twitterBluelogo {
    margin-right: 5%;
  }
}

@media only screen and (width: 1024px) and (height: 600px) {
  .header {
    margin-top: 10%;
    position: fixed;
    width: 600px;
    height: 68px;
    top: 4.5%;
    background-color: white;
    border-radius: 16px;
  }
}

/* @media only screen and (min-width: 0) and (max-width: 300px) {
  .header {
    position: fixed;
    width: 350px;
    height: 68px;
    top: 0%;
    background-color: white;
  }
} */
