.lineBreak {
  height: 25px;
}

.upperContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  text-align: left;
  margin: 0% 13.5%;
}

.enterPassword {
  font-size: 135%;
  font-weight: 700;
  margin-bottom: 6%;
}

.signUp {
  font-size: 90%;
  color: rgb(29, 155, 240);
  text-decoration: none;
}
.signUp:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

.forgetPassword {
  color: var(--twitterBlue);
  font-size: 55%;
  font-family: sans-serif;
  margin-left: 2%;
}

.footer {
  text-align: left;
  position: absolute;
  bottom: 10%;
}

.alert {
  /* border: 1px solid violet; */
  /* position: relative; */
  height: 50px;
  /* display: flex;
  justify-content: center; */
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .enterPassword {
    margin-top: 4%;
    margin-bottom: 9%;
    font-size: 105%;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    text-align: left;
    position: absolute;
    /* left: 5%; */
    bottom: 10%;
  }
}
