.upperContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  text-align: left;
}

.signInToTwitter {
  font-size: 140%;
  font-weight: 700;
  margin-bottom: 9%;
}

.alert {
  position: relative;
  /* border: 1px solid violet; */
  height: 50px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 0px) and (max-width: 300px) {
  .upperContainer {
    margin-top: 68px;
    overflow-x: scroll;
    width: 350px;
    /* height: 60%; */
    position: static;
    /* width: 100vw; */
    height: 100vh;
  }

  .signInToTwitter {
    font-size: 110%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .container {
    margin-top: 4%;
  }

  .signInToTwitter {
    font-size: 120%;
  }

  /* .alert {
    position: inherit;
  } */
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
  .container {
    margin-top: 68px;
  }

  .signInToTwitter {
    font-size: 130%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1024px) {
  .container {
    margin-top: 68px;
  }

  .signInToTwitter {
    font-size: 130%;
  }
}
