.header {
  position: sticky;
  background-color: rgb(255, 255, 255, 0.97);
  top: 0;
  z-index: 2;
  margin-top: 0;
  padding: 10px;
}

.username {
  font-size: 0.9em;
  /* --bs-gutter-x: none; */
}

.tweetsNumber {
  padding-left: 0px;
  font-size: 0.5em;
}

.arrowRow {
  padding-right: 0;
  margin-left: 1px;
  color: black !important;
}

.arrow{
    color: black !important;
}
