.profileDataContainer {
  margin-top: 0;
  border-right: 1px solid var(--twitterBorder);

  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge  to hide scrollbar*/
  scrollbar-width: none; /* Firefox to hide scrollbar */
  max-width: 598px;
}

.profileDataContainer::-webkit-scrollbar {
  display: none;
}
.header {
  position: sticky;
  background-color: rgb(255, 255, 255, 0.97);
  top: 0;
  z-index: 2;
  margin-top: 0;
  padding: 10px;
}

.coverPhoto {
  /* height: 199px; */
  width:598px;
  height: 199.3px;
  position: relative;
}

.profileImage { 
  position: absolute;
  background-color: rgb(255, 255, 255);
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  top: -50%;
}

.profileActionsRow {
  margin-top: 1.5% !important;
  z-index: 1;
  top: -2px;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 2%;
}

.profileImageContainer {
  width: 23%;
  height: 0;
  padding-bottom: 23%;
  position: absolute;
  top: 100%;
  left: 1.3rem;
}

.loadingIcon{
  margin-left: 50%;
  margin-top: 5%;
}

@media screen and (min-width: 689px) {
  .profileDataContainer {
    margin-top: 0;
    border-right: 1px solid var(--twitterBorder);

    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge  to hide scrollbar*/
    scrollbar-width: none; /* Firefox to hide scrollbar */
    min-width: 598px;
  }
}
