.container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 12px 16px;
  padding-top: 0%;
  /* margin-left: 4%; */
}

.elements {
  line-height: 16px;
  font-size: 13px;
  font-weight: 400;

  margin-top: 4px;
  margin-bottom: 4px;
  padding-right: 16px;

  color: rgb(83, 100, 113);
  text-decoration: none;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding-right: 38px;
    padding-left: 38px;
  }
}

@media only screen and (width: 280px) {
  .container {
    width: 347px;
  }
}
