.container {
  margin-top: 1.5%;
}

.twitterBluelogo {
  width: 40px;
}

.heading {
  font-size: 270%;
  margin: 7.5%;
  margin-left: 0%;
}

.content {
  font-weight: 900;
  font-size: 130%;

  margin-top: 7%;
  margin-bottom: 4%;
  margin-left: 0%;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .twitterBluelogo {
    margin-top: 7.5%;
    width: 39.5px;
  }

  .heading {
    font-size: 165%;
    margin: 13% 0%;
  }

  .content {
    font-size: 90%;
    margin-bottom: 7%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .heading {
    font-size: 240%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .heading {
    font-size: 240%;
  }
}
