/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */
/* rude wide font => twitter */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-size: 105%;
}

.loginSection {
  font-family: "Montserrat", sans-serif;
  width: 45%;
  height: 80%;
  float: right;

  padding: 2%;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .loginSection {
    margin-left: 7.5%;
    float: left;
    width: 90%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .loginSection {
    width: 80%;
    margin-left: 16%;
    float: left;
    padding-top: 3%;
    margin-bottom: 3%;
    /* width: 90%; */
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .loginSection {
    width: 57%;
    padding: 3%;
  }
}
