/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */
/* rude wide font => twitter */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

.loginSection {
  font-family: "Montserrat", sans-serif;
  width: 45%;
  height: 80%;
  float: right;

  padding: 2%;
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .loginSection {
    margin-left: 7.5%;
    float: left;
    width: 90%;
  }
}
