.searchResult {
  display: flex;
  align-items: center;
  border: 2px solid var(--twitterBorder);
  cursor: pointer;
  margin-left: 1em;
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 14.8em;
}

.profilePic {
  border-radius: 50%;
  height: 43px;
  width: 43px;
  margin-top: 0.4em;
  margin-left: 0.2em;
  object-fit: cover;
}

@media screen and (min-width: 280px) and (max-width: 721.6px) {
  .profilePic {
    margin-left: 1em;
  }
}

.name {
  font-size: 0.5em;
  margin-left: 0.4em;
}

.username {
  font-size: 0.5em;
  color: gray;
  margin-left: 0.3em;
}

.searchResult:hover {
  background-color: var(--tweetHover);
}
