.searchBar {
  position: sticky;
  margin-top: 10px;
  margin-left: 20px;
}

.searchForm {
  display: flex;
}

.searchIcon {
  position: absolute;
  margin-left: 20px;
  margin-top: 9px;
}

.searchIcon:hover {
  cursor: pointer;
}

.searchInput {
  background-color: var(--tweetHover);
  border: none;
  border-radius: 40px;
  height: 44px;
  width: 350px;
  padding-left: 50px;
}

.searchInput:focus {
  outline-color: var(--twitterBlue);
  outline-width: 1px;
  background-color: white;
}

.searchInput:focus + .searchIcon {
  color: var(--twitterBlue);
}

.searchResultsList {
  max-width: fit-content;
  max-height: 27em;
  overflow-y: scroll;
  position: absolute;
  z-index: 999;
  margin-left: 0.13em;
  margin-top: 0.2em;
}

::-webkit-scrollbar {
  width: 1px;
  display: block;
}

.loadingIcon {
  margin-left: 50%;
  margin-top: 5%;
}

.noResults {
  background-color: white;
  text-align: center;
  margin-top: 0;
  font-size: 0.7em;
  margin-left: 1.6em;
}
