body{
  --twitterBlue : #1D9BF0;
  --twitterRed : #ff3855;
  --twitterGreen : #63f33f;
  --twitterBlueHighlighted : #1A8CD8;
  --twitterGrayHighligh : #E7E7E8;
  --twitterBorder : #EFF3F4;
  --twitterHoverBlue: #E8F5FD;
  --twitterHoverGreen: #ceffdd;
  --twitterHoverRed: #fde5e3;
  --tweetHover : #EFF3F4;
  --WhatsHappening : #F7F9F9;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noDecoration{
  text-decoration: none;
}

.black{
  color: black;
}

.gray{
  color: gray;
}

.noMargin{
  margin: 0;
}