.settings {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: auto;
  flex-direction: row;
}
.right-conatiner {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px) {
  .right-conatiner {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .settings {
 margin-left: 10px; 
}}
